*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    color:white;
    padding: 0;
    margin :0;
    background-image: #556052;
    background-color: rgb(128, 96, 101);
    background-size: cover;
    background-position: center;
    
    
    
}
.boxlogin{
    width: 100%;
    max-width: 440px;
    text-align: center;
    margin:30px auto 5px;
    padding: 23px ; 
    background: rgba(0,0,0,0.5); 
}

.input1{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    width:80%;
}
 
h1{
    margin-bottom: 45px;
}
.signin{
    width:90%;
    margin :61px auto 35px;
    display:block;
    border:none;
    padding: 10px 54px;
    background-color: crimson;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
       
}
.signin:hover{
    background-color: rgb(119, 104, 155);
}
a{  color:white;
    text-decoration: none;
    font-size: medium;
}
.forgot{
   
    
    margin-left:50px;
}
.forgot:hover{
 color:   rgb(119, 104, 155);
}
.SignIn:hover{
    color:   rgb(119, 104, 155);
}
.SignIn{
    margin: 30px;
}


.email-login{
    text-align:center !important;
    margin: 20px;
}
.navbar{
    
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 20px;
}
.nav{
   font-size: 1rem;
   margin:20px 10px 10px;
   color:white;
   text-decoration: none;
   height: 25px;
   

}
.nav:hover{
    
    
    border-bottom: 1px solid #5f27cd;
    padding: 5px;

}
.footer-text{
    display :flex;
  
   
}
.footer-parent{
  
  display: flex;
  justify-content: space-between;
  padding: 25px;
 font-size: 1.7rem;
 
}
ul {
  list-style-type: none;
}
.social-link{
  display:flex;
}
.text-value{
  margin: 0px 15px;
}
a{
  text-decoration: none;
  
}
footer{
  background-color: #3A3838;
}
.footer-p{
  text-align:center;
  font-size: 1.5rem;
  padding-bottom: 50px;
}
.icon-footer{
margin: 0 20px;
color:white;
}
.text-value a{
  color:white;
}

