nav.navbar
  .features
    a.nav(href=' ') FEATURES 
  .details
    a.nav(href=' ') DETAILS 
  .Reviews
    a.nav(href=' ') REVIEWS
  .Plans
    a.nav(href=' ') PLANS
  .signup-nav
    a.nav(href=' ') SIGN UP
