nav.navbar
  .features
    a.nav(href='/') FEATURES 
  .details
    a.nav(href=' ') DETAILS 
  .Reviews
    a.nav(href=' ') REVIEWS
  .Plans
    a.nav(href='/plans' ) PLANS
  if name
      .Plans
        a.nav(href='/profile' ) #{name}
      .logout
        a.nav(href='/logout' ) LOGOUT
  else     
      .signup-nav
        a.nav(href='/login') LOGIN
   
    
  
