extends base.pug
block content
 link(rel="stylesheet" , href="../css/styles2.css")
 .boxlogin
      h1 Reset Password  
      p.email-login Password
      input.input1#pass-reset(type='password' placeholder='Password')
      p.email-login Confirm Password
      input.input1#conpass-reset(type='password' placeholder='Confirm Passoword')
      p#message  
      button.signin.reset-button
        a(href='http://') Reset Confirm

block scripts
 script(src="../js/resetPassword.js")   
      